<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Keep the default nuget.org source -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!-- Keep Microsoft Visual Studio Offline Packages if needed -->
    <add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
  </packageSources>
</configuration>